.container {
  width: 100%;
  height: 100%;
}

.deliveryInfos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 2rem;
  margin-top: -55rem;
}
.deliverySubtitles {
  text-align: center;
  font-size: 1.125rem;
  color: black;
}

.deliveryTitle {
  text-align: center;
  color: #fb8b24;
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 70px;
}

.deliveryInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-bottom: -90px;
}

.deliveryInfo > h3 {
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.1rem;
}

.firstImg,
.secondImg,
.thirdImg {
  width: 400px;
  border-radius: 10px;
}
