.container {
  height: 60px;
  width: 100%;
  margin-top: 12rem;
  background-color: #fff8f0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.iconList > li {
  list-style-type: none;
  font-size: 2rem;
  padding: 0 2rem;
}

.iconList > li:hover {
  color: #fb8b24;
  cursor: pointer;
  scale: 1.4;
}
