.loginContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb8b24;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}

.loginWrapper {
  border-radius: 20px;
  background-color: #fff;
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.loginLeftSide {
  flex: 1;
  width: 80%;
  height: 100%;
}

.leftImg {
  width: 100%;
  height: 100%;
  border-radius: 0 20px 20px 0;
  object-fit: cover;
}

.loginRightSide {
  margin: 0;
  flex: 0.2;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

.loginRightSide > h2 {
  text-align: center;
  font-size: 2.25rem;
  color: #fb8b24;
  margin: 2.5rem 0;
}

.loginRightSide > .loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  gap: 2rem;
  margin-top: 20px;
}

.loginForm > input {
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  width: 100%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  transition: 150ms all easy-in-out;
}

.loginForm > input:focus {
  padding-left: 0.75rem;
}

.loginForm > .submitBtn {
  color: whitesmoke;
  background-color: #fb8b24;
  font-weight: bold;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  outline: none;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.loginForm > .submitBtn:hover {
  color: whitesmoke;
  background-color: #f95738;
  transform: scale(1.05);
}

.loginForm > p {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: -15px;
}

.loginForm > p > a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #f95738;
  text-decoration: none;
  margin-top: 0.25rem;
}

.loginForm > p > a:hover {
  scale: 1.1;
  color: #fb8b24;
}

.errorMessage {
  height: 70px;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #f95738;
  color: #fff;
  position: absolute;
  top: 5rem;
  right: 5rem;
}
